<!doctype html>
<html lang="en">
<head>
	<%- include('../part/head') %>
</head>
<body oncontextmenu="return false;">
	<%- include('../part/edgehelp.ejs') %>
	<div class="container mb-0" style="padding:0; max-width:1000px">
		<div class="pt-3 text-center">
			<img class="d-block mx-auto mt-5 mb-5" src="/img/logopesantare.png" alt="" width="400px">
			<section class="jumbotron text-center" style="background-color:transparent; padding-top:2rem; padding-bottom:0rem;">
				<div class="container" style="color:black">
					<h1 class="jumbotron-heading" style="font-size: 24px; line-height: 24px;">
						Data Customer
					</h1><br>
				</div>
			</section>
			<% if (messages.alert0!=null && messages.alert0!='' ) { %>
			<div class="alert alert-<%= messages.alert0 %> alert-dismissible text-left">
				<%= messages.alert1 %>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<% } %>
		</div>
		<!-- </center> -->

		<div class="table-responsive table-sm table-hover">
			<table id="tborderlist" class="table table-striped res3">
				<thead>
					<tr class="thead-dark" style="font-size:12px;">
						<th scope="col" class="column-primary"> ID Customer </th>
						<th scope="col"> Nama<br>Customer </th>
						<th scope="col"> Telp </th>
						<th scope="col"> E-mail </th>
						<th scope="col"> Aksi </th>
					</tr>
				</thead>
				<tbody>
					<% for (r in results) { %>
						<tr style="background-color:#ffffff;">
							
							<td class="header">
								<small>
									<%= results[r].RECID %><br>
								</small>
									<a href="#" class="more btn btn-outline-secondary btn-sm">
										<i class="fa fa-chevron-down"></i>
									</a>
							</td>
							
							<td class="mr-2" data-header="Nama Customer">
								<small class="text-bold text-uppercase">
									<%= results[r].NAMA %>
								</small>
							</td>

							<td class="mr-1" data-header="Telp">
								<small>
									<%= results[r].TELP %>
								</small>
								<br>
										
								<% if(results[r].WHATSAPP=='Y') { %>
									<span class="badge badge-pill badge-success">
										<small> WhatsApp Available </small>
									</span>
								<% } else { %>
									<span class="badge badge-pill badge-secondary">
										<small> WhatsApp Unavailable </small>
									</span>
								<% } %>
							</td>
							
							<td class="mr-2" data-header="E-mail">
								<% if(results[r].EMAIL!=null) { %>
									<small>
										<%= results[r].EMAIL;%>
									</small>
								<% } else { %>
									<small>
										<i class="text-muted"> Tidak di isi </i>
									</small>
								<% } %>
							</td>

							<td scope="row">
								<!-- <div class="button-tool"> -->
									<button class="btn btn-sm btnLihat" style="background-color:#E95D22;border:none; color:white; text-align:center" data-toggle="modal" data-target="#detailCustomer" onclick="detailCustomer(<%= results[r].RECID %>)">
										<small> LIHAT </small>
									</button>
									
									<button class="btn btn-sm btnEdit" style="background-color:#3A2D1D; border:none; color:rgb(252, 252, 247); text-align:center" onclick="window.location.replace('/controlcenter/dashboard/dapel/update-data-customer/<%= results[r].RECID %>');">
										<small> EDIT </small>
									</button>
								<!-- </div> -->
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<br>
		<!-- Modal -->
		<%- include('modal-detail')%>

		<!-- Footer -->
		<%- include('../part/footer') %>
		<!-- Nav Bottom -->
		<%- include('../part/cd-nav') %>
    </div>

<!-- Link Script  -->
<%- include('../part/link-script') %>

<!-- Logic Script -->
<script>
	// $('.btnHapus').on('click', function (e) {
		
	// 	e.preventDefault();

	// 	const href = $(this).attr('href');

	// 			Swal.fire({
	// 			title: 'Anda yakin?',
	// 			text: 'Data customer akan dihapus dan tidak dapat di kembalikan.',
	// 			icon: 'warning',
	// 			showCancelButton: true,
	// 			confirmButtonColor: '#E95D22',
	// 			cancelButtonColor: '#d13c44',
	// 			confirmButtonText: 'Hapus Data!'
	// 			}).then((result) => {
	// 				if(result.value) {
	// 					Swal.fire({
	// 						title: 'Berhasil di hapus!',
	// 						text: 'Data customer sudah terhapus.',
	// 						icon: 'success'
	// 					}).then((result) => {
							
	// 							document.location.href = href;
							
	// 					});
	// 				} else {
	// 					Swal.fire({
	// 						title: 'Data aman!',
	// 						text: 'Data nggak jadi di hapus.'
	// 					}).then((result) => {
	// 						if(result.value) {
	// 							document.location.reload();
	// 						}
	// 					})
	// 				}
	// 			});
	// });
</script>
<%- include('logic-dapel') %>
</body>
</html>