<!DOCTYPE html>
<html translate="no">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<div class="wrapper mt-5">

    <!--** Navbar -->
    <%- include('../partials/navbar'); %>
    <!--** /.navbar -->

    <!--** Main Sidebar Container, Sidebar, Sidebar Menu -->
    <%- include('../partials/sidebar'); %>
    <!--** /.sidebar -->

    <!--** Content Wrapper. Contains page content -->
    <main role="main" class="container mt-5" id="greeting-main">
        <div class="jumbotron bg-white">
            <p>
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="/img/logo.png">
            </p>
        </div>
        <hr>
        <div class="lead text-sm text-center text-muted" id="greeting">
            <p>
                Selamat datang di Home Dashboard,
            </p>
            <p style="color:#c79645" id="nik">
                <b>
                    <%= locals.nik %>
                    &nbsp;-&nbsp;
                    <% if(locals.kcabang!=null) { %>
                            (<%= locals.ncabang %>) 
                    <%} else {%> 
                            <%= locals.nama %>
                            (<%= locals.ndivisi %>) 
                    <% } %>
                </b>
            </p>
        </div>
        
    </main>
    <!--** /.content-wrapper -->

  <!--** Footer & Script -->
  <!--** /.footer -->
</div>
<!-- ./wrapper -->

<!--** LINK SCRIPT -->
<%- include('../partials/link-script'); %>
<!--* AKHIR LINK SCRIPT -->


</body>

</html>
