<!DOCTYPE html>
<html>
<head>
	<%- include('../part/head') %>
</head>
<body oncontextmenu="return false;">
	<%- include('../part/edgehelp.ejs') %>
    <div class="container mb-0" style="padding:0; max-width:1000px">
		<div class="pt-3 text-center">
			<img class="d-block mx-auto mt-3 mb-3" src="/img/logopesantare.png" alt="" width="400px">
			<section class="jumbotron" style="background-color:transparent; padding-top:2rem; padding-bottom:0rem;">
				<div class="container" style="color:black">
					<h1 class="jumbotron-heading" style="font-size: 34px;">
						FORM EDIT
					</h1>
                    <small class="text-small text-muted" style="font-size: 70%;">
                        DATA PELANGGAN 
                        <b class="m-0 text-center">( NO.ID / <%= results.RECID %> )</b>
                    </small>
                    <br>
				</div>
			</section>
		</div>
		<!-- </center> -->
        
        <div id="bingkai"></div>
        
        <form action="/controlcenter/dashboard/dapel/update-data-customer" method="post">
            
            <!-- <div id="bingkai"> -->
                <div class="card m-auto">
                    <div class="p-4 pb-0">

                        <div class="form-group row" style="position:relative">

                            <label for="validationTooltip01" class="col-sm-2">Nama Customer</label>
                            <div class="col-sm-4">
                                <input id="namacust" value="<%= results.NAMA %>" type="text" name="NAMA" class="form-control" required>
                            </div>
                            <span id="muncul"></span>
                            <div class="valid-tooltip">Valid.</div>
                            <div class="invalid-tooltip">Please fill out this field.</div>
                            
                            <label for="colFormLabel" class="col-sm-2">Telepon</label>
                            <div class="col-sm-4">
                                <input value="<%=results.TELP %>" type="text" name="TELP" class="form-control" required>
                            </div>
                            
                        </div>

                        <div class="form-group row" style="position:relative">
                            
                            <label for="colFormLabel" class="col-sm-2">Plat Kendaraan</label>
                            <div class="col-sm-4">
                                <input value="<%=results.PLAT %>" type="text" name="PLAT" class="form-control" required>
                            </div>

                            <label for="validationTooltip01" class="col-sm-2">E-mail</label>
                            <div class="col-sm-4">
                                <input value="<%=results.EMAIL %>" type="text" name="EMAIL" class="form-control">
                            </div>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                            
                        </div>
                        
                        <div class="form-group row" style="position:relative">
                            <label for="colFormLabel" class="col-sm-2">Alamat</label>
                            <div class="col-sm-10">
                                <input value="<%=results.ALAMAT %>" type="text" name="ALAMAT" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row" style="position:relative">
                            <label class="col-sm-2">Member-ID</label>
                            <div class="col-sm-10">
                                <input value="<%=results.MEMBER %>" type="text" name="MEMBER" class="form-control">
                            </div>
                            <div class="valid-tooltip">Valid.</div>
                            <div class="invalid-tooltip">Please fill out this field.</div>  
                        </div>
                        
                        <div class="form-group row">
                            <input value="<%=results.RECID %>" type="hidden" name="RECID" class="form-control">
                        </div>

                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-sm btn-primary" id="update" type="submit">Update</button>
                    </div>
                </div>
            <!-- </div> -->
        </form>

		<!-- Footer -->
		<%- include('../part/footer') %>
		<!-- Nav Bottom -->
		<%- include('../part/cd-nav') %>
    </div>
    
    <!-- Link Script  -->
    <%- include('../part/link-script') %>
    <%- include('validasi-update') %>

</body>
</html>